footer {
    background-color: $backgroundColor;
    color: $textColor;
    @include displayEvenly;
    position:initial;

    > div {
        @include flexHeaderFooter;

        p {
            font-size: 15px;
            text-align: center;
            padding: 0 5vw 0 5vw;
            @include xl{
                width: 88px;
                padding: unset;
                font-size: 12px;
            }
        }

        > a img {
            height: 30px;
            padding: 0 5vw 0 5vw;
            @include xl {
                padding: 0 2vw 0 2vw;
            }
        }
    }
}