header {
    display: flex;
    justify-content: space-between;
    color: $textColor;
    background-color: $backgroundColor;

    .textHeader {
        font-weight: 20px;
    }

    > div {
        @include flexHeaderFooter;

        nav ul:nth-child(1) {
            display: none;
            text-align: center;
            @include xl {
                display: block;
            }

            > .Burger {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                background-color: $textColor;
                border-radius: 4px;
            }
        }

        nav ul:nth-child(2) {
            @include displayEvenly;
            text-align: center;
            @include xl {
                display: none;
            }
            

            > li {
                list-style: none;
                text-align: center;
                font-size: 15px;
                padding: 0 2vw 0 2vw;
            }
        }
    }
}