header{
    z-index: 6;
    display: flex;
    width: 100vw;
    position: fixed;
    top: -1px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: $backgroundHeader;
    @include xl{
        padding: 20px 25px;
    }
    .usernameHeader{
        display: flex;
        align-items: center;
        gap: 30px;
        font-family: 'Damion', cursive;
        font-size: 30px;
        a{
            color: $fontColor;

        }
        img{
            width: 40px;
        }
        @include xl{
            gap: 20px;
        }
    }
    .navigation{
        display: flex;
        align-items: center;
        gap: 30px;
        @include xl{
            gap: 20px;
        }
        .Instagram{
            img{
                width: 30px;
            }
            @include xl{
                display: none;
            }
        }
        .GitHub{
            img{
                width: 30px;
            }
            @include xl{
                display: none;
            }
        }
        nav{
            z-index: 8;
            .burger{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                span:nth-child(1){
                    width: 15px;
                    height: 3px;
                    background-color: $fontColor;
                    align-self: flex-start;
                    transition: 0.2s all;
                }
                span:nth-child(2){
                    width: 30px;
                    height: 3px;
                    background-color: $fontColor;
                    align-self: flex-end;
                    transition: 0.2s all;
                }
                span:nth-child(3){
                    width: 15px;
                    height: 3px;
                    background-color: $fontColor;
                    align-self: flex-end;
                    transition: 0.2s all;
                }
                &:hover{
                    >span{
                        width: 30px;
                        transition: 0.2s all;
                    }
                }
            }
        }
    }
    .burgerOpen{
        z-index: 7;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: $backgroundHeader;
        width: 0;
        transition: 0.5s all;
        .navLinks{
            width: 0;
            gap: 15vh;
            >li{
                list-style: none;
                display: none;
                >a{
                    color: $fontColor;
                    text-decoration: none;
                    font-size: 35px;
                    font-family: 'Damion', cursive;
                }
            }
        }
    }
    .navOpen{
        left: calc(100% - 15vw);
        width: unset;
        transition: 0.5s all;
        .navLinks{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 15vw;
            height: 101vh;
            gap: 15vh;
            >li{
                display: block;
            }
            @include xl {
                width: 100vw;
            }
            
        }
        @include xl{
            left: calc(100% - 100vw);
            width: unset;
        }
    }
}