* {
    @include oorigin;
    color: $textColor;
    body {
        .firstSectionHomepage {
            background-color: $colorSection;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            height: 86vh;
            @include xl{
                grid-template-columns: 50% 50%;
                grid-template-rows: 32% 50%;
                margin: 0 0 -14vh 0;
                height: 100vh;
            }
    
            .firstItem {
                grid-column: 1 / 2;
                grid-row: 1;
                @include displayEnd;
                @include textAlignRight;
                align-items: center;
                @include xl{
                    grid-column: 1 / -1;
                    grid-row: 1;
                    @include displayCenter;
                }
                .cardHomepage{
                    @include cardHomepage;
                    width: 90%;
                    padding: 5vh 5vw 5vh 3vw;
                    margin: 2vh 0 2vh 2vw;
                    @include xl{
                        padding: 2vh 2vw 2vh 2vw;
                        margin: 2vh 2vw 3vh 2vw;
                    }
                    h2 {
                        font-size: 22px;
                        @include xl{
                            width: 100%;
                            font-size: 22px;
                            text-align: center;
                        }
                    }
                }
            }
    
    
            .secondItem {
                grid-column: 2 / 2;
                grid-row: 1 / -1;
                @include displayCenter;
                @include textAlignCenter;
                flex-direction: column;
                align-items: center;
                @include xl{
                    grid-column: 1 / -1;
                    grid-row: 2;
                }
                .cardHomepage {
                    background: linear-gradient(45deg, rgb(75, 75, 75), rgb(102, 102, 102)) ;
                    padding: 5vh 5vw 5vh 5vw;
                    border-radius: 10px;
                    box-shadow: 15px 15px 30px $backgroundColor;
                    @include xl {
                        padding: 2vh 2vw 2vh 2vw;
                    }
                    img {
                        height: 230px;
                        width: 230px;
                        object-fit: cover;
                        object-position: left;
                        border-radius: 50%;
                        @include xl{
                            img {
                                height: 180px;
                                width: 180px;
                            }
                        }
                    }
        
                    .textItem2 {
                        padding: 3vh 0 2vh 0;
                    }
                }
                }
                .thirdItem {
                    grid-column: 1 / 2;
                    grid-row: 2;
                    @include displayEnd;
                    @include textAlignRight;
                    align-items: center;
                    .cardHomepage {
                        width: 90%;
                        @include cardHomepage;
                        padding: 5vh 5vw 5vh 3vw;
                        margin: 2vh 0 2vh 2vw;
                        @include xl{
                            display: none;
                        }
                    }
                }
            }

        .partOnePrésentation {
            background-color: rgb(39, 39, 39);
            h2 {
                @include displayCenter;
                padding: 5vh 0 5vh 0;
                font-size: 28px;
                
            }

            .contentAboutMe {
                @include displayEvenly;
                @include xl {
                    @include displayCenter;
                    flex-direction: column;
                }
                > img{
                    border-radius: 10px;
                    box-shadow: 10px 10px 20px $backgroundColor;
                    height: 50vh;
                    @include xl {
                        height: unset;
                        height: 30vh;
                        align-self: center;
                    }
                }

                > p {
                    display: flex;
                    align-items: center;
                    max-width: 40%;
                    text-align: end;
                    @include xl {
                        max-width: unset;
                        align-self: center;
                        padding: 6vh 2vw 0 2vw;
                        text-align: center;
                    }
                }
            }
            .contentAboutMe:nth-child(6) {
                padding-bottom: 3vh;
            }
            .contentAboutMe:nth-child(4) {
                p {
                    text-align: start;
                }
                @include xl {
                    flex-direction: column-reverse;
                    p {
                        text-align: center;
                    }
                }
                
            }
        }
    }
    


        
    }