@mixin oorigin {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* Merci kléklé */
}

@mixin xl {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin flexHeaderFooter {
    display: flex;
    align-items: center;
    padding: 5vh 5vw 5vh 5vw;
}

@mixin displayEvenly {
    display: flex;
    justify-content: space-evenly;
}

@mixin displayCenter {
    display: flex;
    justify-content: center;
}

@mixin displayEnd {
    display: flex;
    justify-content: end;
}

@mixin minContent {
    height: min-content;
}

@mixin maxContent {
    height: max-content;
}

@mixin textAlignLeft {
    text-align: left;
}

@mixin textAlignCenter {
    text-align: center;
}

@mixin textAlignRight {
    text-align: right;
}

@mixin cardHomepage {
    background: linear-gradient(45deg, rgb(61, 61, 61), rgb(119, 119, 119)) ;
    border-radius: 10px;
    box-shadow: 15px 15px 30px $backgroundColor;
}