@mixin oorigin {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* Merci kléklé */
}

@mixin xl {
    @media screen and (max-width: 1200px) {
        @content;
    }
}
